/*头部*/
.header{
	height: 8%;
	background-color: #f0b33c;
	background-image: url("../images/bgc_icon.png");
	background-position: center right;
	background-repeat: no-repeat;
}
.logo{
	width: 180px;
	height: 68px;
	margin: 20px auto 40px;
	background: url("../images/logo.png");
}
.logo_icon{
	width: 50px;
	height: 100%;
	background: url("../images/logo_icon.png") center center no-repeat;
	/*background-color: #f0b33c;*/
}
.title_box{
	display: table;
	height: 100%;
	/*border-left: 1px solid #f5f5f5;*/
	/*background-color: #f0b33c;*/
}
.title_box .title{
	height: 100%;
	padding: 0 20px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	font-size: 28px;
	color: #000;
}
.nav{
	display: table;
	height: 100%;
	margin-left: 60px;
}
.nav a{
	display: table-cell;
	height: 100%;
	/*padding: 0 30px;*/
	vertical-align: middle;
	font-size: 18px;
	color: #000;
}
.nav a:hover{
	color: #fff;
}
.nav a.is_active{
	color: #fff;
}
.nav a.flag_bit:before,
.nav a.flag_bit:after{
	content:'';
	display:inline-block;
	width: 10px;
	height: 10px;
	margin: 0 30px;
	background-color: #000;
	border-radius: 20px;
}
.home{
	width:4%;
	height: 100%;
	/*background-color: #f0b33c;*/
}
/*主内容区*/
.content{
	height: 100%;
}
.footer{
	position: relative;
	height: 8%;
	border-top: 3px solid #f0b33c;
	background: url("../images/logo-bottom.png") 20px center no-repeat;
}
.about_us{
	position: absolute;
	right: 300px;
	top: 50%;
	width: 120px;
	height: 26px;
	line-height: 26px;
	margin-top: -13px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #666;
	color: #666;
}
.about_us:hover{
	border: 1px solid #f0b33c;
	color: #f0b33c;
}
.user_access{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #666;
	font-size: 14px;
}
/*侧边导航*/
.subNavBox{
	width:15%;
	background-color: #F4F4F0;
	border-right: 3px solid #f0b33c;
	box-shadow: 1px 0 5px #fff;
	box-sizing: border-box;
	overflow-y:auto; 
}
.subNav{
	position: relative;
	height:3.5rem;
	line-height:3.5rem;
	padding-left:20px;
	/*margin-top: 10px;*/
	/*background-color: #3A8281;*/
	border-bottom: 1px solid #f0b33c;
	cursor:pointer;
	font-weight:bold;
	font-size:1.1rem;
	color:#000;
}
.subNav:first-child{
	margin-top: 90px;
}
/*.subNavChild .drop_down_icon{
	position: absolute;
	width: 24px;
	height: 12px;
	background:url(../images/jiantou1.jpg) center center no-repeat;
	background-size: contain;
}*/
/*.subNav.subNavChild{
	background:url(../images/jiantou1.jpg) no-repeat;
	background-position:95% 50%
}*/
/*.subNavChild:hover{
	color:#277fc2;
}*/
.currentDd{
	color:#277fc2；
}
.currentDt{
	/*background-image:url(../images/jiantou.jpg);*/
}
.navContent{
	display: none;
	border-bottom:solid 1px #e5e3da;
}
.navContent li{
	width: 100%;
}
.navContent li a{
	display:block;
	width:100%;
	height:3.5rem;
	line-height:3.5rem;
	padding-left:20px;
	font-size:1.1rem;
	color:#999;
	box-sizing: border-box;
}
.navContent li a:hover{
	color:#fff;
	background-color:#f0b33c;
}
.subNavCurrent{
	background-color:#f0b33c;
	/*border-bottom: 1px solid #f0b33c;*/
}
.subNavCurrent .navContent li a{
	color:#fff;
}
	/*街道地图区域*/
.data_views{
	width: 85%;
	height: 100%;
}
.map{
	width: 100%;
	height: 92%;
}
/*可视化模块*/
/*.right_content{
	width: 30%;
	right: 0;
	top:0;
}*/
.visualization_content{
	/*width: 30%;*/
	width: 0;
	height: 92%;
	right: 0;
	top:8%;
	/*background-color: rgba(0,0,0,.5);*/
	background-color:#0e2f41;
	/*display: none;*/
	/*-ms-transform:translate3d(100%,0,0); 	
	-moz-transform:translate3d(100%,0,0); 	 
	-webkit-transform:translate3d(100%,0,0); 
	transform:translate3d(100%,0,0);*/
}
.data_origin{
	position: absolute;
	width: 320px;
	left: -320px;
	bottom: 0;
	padding: 5px 20px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	color: #fff;
}
.coverage_control{
	position: absolute;
	left: -150px;
	top: 0;
	width: 150px;
	padding: 15px 15px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
.coverage_control h3{
	font-size: 16px;
	margin-bottom: 15px;
	color: #00FFFF;
}
.toggle{
    text-align: center;
    vertical-align: middle;
    border: none;
    appearance: none;/*关键代码*/
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.toggle::after{
   content: url('../images/beixinqiao/no_checked.png');
}

.toggle:checked::after{
    content: url('../images/beixinqiao/checked.png');
}
/*遮罩层*/
.shade_modal{
	position: fixed;
	top:8%;
	left: 15%;
	width: 85%;
	height: 92%;
    background:rgba(0, 0, 0, .7);
    z-index: 999999;
    display: none;
    overflow-y: auto;
}
.shade_item {
	padding: 80px 50px;
}
.verbal_content{
	line-height: 30px;
	margin-top: 20px;
	color: #fff;
	text-indent: 2em;
}
.shade_item .img{
	display: block;
	width: 42.85rem;
	height: 32.14rem;
	margin: 30px auto;
}
/*朝代介绍*/
.history_tab span{
	display: inline-block;
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.history_tab span.active_history_tab{
	background-color: #00FFFF;
}
.dynasty_introduction{
	width: 100%;
	/*height: 720px; */
	height: 85%;
	margin:0 auto;
	overflow: hidden;
	display: flex;
    flex-direction: row;  /* 子元素横向排列 */
    justify-content: center; /* 相对父元素水平居中 */
    align-items: center; /*  子元素相对父元素垂直居中 */
}
.dynasty_introduction>div{
	flex-grow:1;/* 属性用于设置或检索弹性盒的扩展比率。 */
	width: 240px;
	height: 427px;
	margin-right: 15px;
	transition: all 0.7s;
}
.dynasty_introduction>div img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.dynasty_introduction:hover div{ 
	/*transform: scale(0.5); */
	width: 240px;
	height: 427px;
}
.dynasty_introduction div:hover{ 
	/*transform: scale(1.5); */
	width: 360px;
	height: 640.5px;
}

/*排行榜列表*/
.ranking_title{
	/*width: 400px;*/
	margin-left:10px;
	line-height: 30px;
	font-size: 15px;
	color: #fff;
}
.ranking_list{
	/*width: 70%;*/
	margin-left:20px;
	height: 2.23rem;
	line-height: 2.23rem;
}
.ranking_list .type_name{
    display: inline-block;
    width: 10rem;
	font-size: 1.1rem;
	color: #fff;
}
.ranking_list .name_value{
	font-size: 1.1rem;
	color: #f0b33c;
}
/*人口信息*/
.statistics_type{
	/*width: 400px;*/
	width: 100%;
	margin: 0 auto;
	border-radius: 20px;
	border: 1px solid #00FFFF;
}
.statistics_type a{
	float: left;
	/*width: 80px;*/
	width: 18%;
	padding: 5px 0;
	border-radius: 20px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.statistics_type a.w_21{
	width: 23%;
}
.statistics_type a.active_checked{
	background-color: #00FFFF;
}
/*公共服务设施-概览*/
.public_service_type a{
	width: 12%;
}
.public_service_type a:last-child{
	width: 16%;
}
/*总覆盖率*/
.public_service_total_coverage{
	width: 100%;
	line-height: 3rem;
}
.public_service_total_coverage p{
	text-align:center;
	color:#fff;
	font-size:1.2rem;
}
.public_service_total_coverage p span{
	font-size:2rem;
	color:#F7C370;
}
/*看板样式*/
.spectaculars_content p,
.development_bulletin_board p{
	margin: 0 7%;
	padding-left:3%;
	margin-bottom: 5px;
	box-sizing: border-box;
	background-color: #1A5574;
	color: #fff;
	cursor: pointer;
} 
.spectaculars_content p .second_level_color,
.development_bulletin_board p .second_level_color{
	color: #e3583d;
	font-size: 1.1rem;
}
.spectaculars_content p.active_checked{
	background-color: #f0b33c;
}
.spectaculars_content span{
	display: inline-block;
	width: 15%;
	line-height: 2rem;
	font-size: 1rem;
}
.spectaculars_content span:first-child{
	width: 70%;
}
.development_bulletin_board span{
	display: inline-block;
	width: 30%;
	line-height: 1.8rem;
	font-size: 1rem;
}
.development_bulletin_board p:nth-child(odd){
	background-color: #f0b33c;
}
.development_bulletin_board .development_title{
	font-weight:700;
	font-size: 14px;
	color: #fff;
}
.development_bulletin_board .development_title span{
	display: inline-block;
	width: auto;
	padding-left: 7%;
	color: #f0b33c;
}
.ranking_list_content p{
	/*margin: 0 7%;*/
	padding-left:5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	background-color: #1A5574;
	color: #fff;
	cursor: pointer;
}
.ranking_list_content p span{
	display: inline-block;
	width: 13%;
	line-height: 1.8rem;
	font-size: 1rem;
}
.ranking_list_content p span:first-child{
	width: 18%;
}
.ranking_list_content p:nth-child(even){
	background-color: #f0b33c;
}
/*产业类型描述*/
.industrial_description:nth-child(1){
	top: 14%;
}
.industrial_description:nth-child(2){
	top: 40%;
}
.industrial_description:nth-child(3){
	top: 74%;
}
.industrial_description p:first-child{
	font-size: 2rem;
	color: #f0b33c;
}
.industrial_description p:last-child{
	line-height: 2rem;
	font-size: 1.4rem;
	color: #fff;
}
/*人流量监测年份切换*/
.year_switcher{
	position: fixed;
	left: 50%;
	bottom: 8%;
	width: 400px;
	background-color:rgba(0,0,0,.0);
	display: none;
}
.year_switcher a{
	float: left;
	width: 20%;
	height:36px;
	line-height: 36px;
	margin: 10px 10px;
	text-align: center;
	font-size: 14px;
	background-color: #3A8281;
	border-radius: 18px;
	color: #fff;
}
.year_switcher a.checked_active{
	background-color: #00FCFF;
}
/*信息窗体*/
.info_window{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	color: #000;
}
/*地图图例*/
.legend_content{
	position: fixed;
	left: 15%;
	bottom: 8%;
	width: 260px;
	padding: 10px 10px;
	box-sizing: border-box;
	background-color:rgba(0,0,0,.7);
	display: none;
}
.legend_item{
	width: 50%;
}
.legend_item span{
	display: inline-block;
	line-height: 30px;
	color:#fff;
}
.legend_item span:nth-child(1){
	width: 12px;
	height: 12px;
	margin-right: 10px;
	border-radius: 12px;
}
.message{
	width: 100%;
	padding-left: 20px;
	font-size: 14px;
	line-height: 30px;
	box-sizing: border-box;
	color: #fff;
}
.message:first-child{
	margin-top: 30px;
}

#pio_point_list {
    margin: 0;
    padding: 0;
    z-index: 999;
    position: absolute;
    background-color: white;
    max-height: 100%;
    overflow-y: auto;
    top: 13%;
    left: 15%;
    width: 280px;
}
		.nice-select{

	width: 260px;

	padding: 0 10px;

	height: 100%;

	border: 1px solid #999;

	position: relative;

	box-shadow: 0 0 5px #999;

	background: #fff url(images/a2.jpg) no-repeat right center;

}

		.nice-select input{display: block;width: 100%;height: 38px;line-height: 38px \9;border: 0;outline: 0;background: none;}

		.nice-select ul{

	width: 100%;

	display: none;

	position: absolute;

	left: -1px;

	top: 38px;

	overflow: hidden;

	background-color: #fff;

	max-height: 150px;

	overflow-y: auto;

	border: 1px solid #999;
	border-radius: 4px;	

	border-top: 0;

	box-shadow: 0 3px 5px #999;

	z-index: 9999;

}

		.nice-select ul li{height: 30px;line-height: 30px;overflow: hidden;padding: 0 10px;cursor: pointer;}

		.nice-select ul li.on{background-color: #e0e0e0;}
.select {
	position: fixed;
	top: 8%;
	left: 15%;
	width: 280px;
	height: 5%;
	/*vertical-align: middle;*/
	/*padding: 0;*/
	/*overflow: hidden;*/
	background-color: #fff;
	color: #555;
	border: 1px solid #aaa;
	/*text-shadow: none;*/
	border-radius: 4px;	
	/*transition: box-shadow 0.25s ease;*/
    z-index: 9999;
	display: none;
}

/*.select:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #ccc;
	top: 45%;
	right: 10px;
	cursor: pointer;
	z-index: -2;
}
.select select {
	cursor: pointer;
	padding: 4%;
	width: 100%;
	border: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
}
.select select:focus {
	outline: none;
}*/
/*交通实况提示说明*/
.real_time_traffic_explain{
	position: absolute;
	width: 180px;
	top: 8%;
	left: 50%;
	margin-left: -100px;
	padding: 10px 10px;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	font-size: 14px;
	display: none;
}
/*交通可达性按钮*/
.traffic_accessibility{
	width: 100px;
	line-height: 30px;
	margin-top: 30px;
	/*border: 1px solid #f0b33c;*/
	border-radius: 15px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background-color: #f0b33c;
}
.traffic_accessibility:hover{
	background-color: #FACB70;
}